<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = 'root'> The app.htmlrb has loaded </div>
    <script src = 'http://localhost:8080/assets/bundle.js' ></script>
  </body>
</html>
